.headerMainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.headerDataContainer {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  display: flex;
  width: 600px;
  padding: 1%;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.describe {
  font-weight: 600;
}

.link {
  text-align: center;
  text-decoration: none;
  color: #3083ff;
  font-weight: 600;
}

.link:hover {
  text-align: center;
  color: #1a4e9d;
}

.callButton {
  cursor: pointer;
  margin-top: 16px;
  width: 50%;
  background: white;
  color: #153B74;
  padding: 8px;
  border: 3px solid #153B74;
  border-radius: 5px;
}

.callButton:hover {
  border: 3px solid #153B74;
  background: #153B74;
  color: white;
  transition: 0.2s;
}

.callButton:active {
  transition: 0.1s;
  transform: translateY(4px);
}