.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  display: flex;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio, .describe {
  text-align: center;
  margin-top: 16px;
}

.link {
  text-align: center;
  text-decoration: none;
  color: #3083ff;
  margin-top: 16px;
}

.link:hover {
  text-align: center;
  margin-top: 16px;
  color: #1a4e9d;
}

.callButton {
  cursor: pointer;
  margin-top: 16px;
  width: 50%;
  background: white;
  color: #153B74;
  padding: 8px;
  border: 3px solid #153B74;
  border-radius: 5px;
}

.callButton:hover {
  border: 3px solid #153B74;
  background: #153B74;
  color: white;
  transition: 0.2s;
}

.callButton:active {
  transition: 0.1s;
  transform: translateY(4px);
}