.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111e2d;
}

.dataContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Cor de fundo com opacidade */
  backdrop-filter: blur(8px); /* Adiciona o efeito de desfoque */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.header {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.bio {
  color: #fff;
  margin-top: 16px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.messageInput {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.connectWalletButton,
.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.waveButton:hover,
.connectWalletButton:hover {
  background-color: #2980b9;
}

.mensagens {
  background-color: #3d4364;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  margin-top: 16px;
  padding: 8px;
}

.mensagens .destacado {
  margin: 5px;
  font-weight: bold; /* Pode ser usado para destacar a mensagem */
}

/* Adicione um estilo CSS para animar a rotação do spinner */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  animation: rotate 1s linear infinite; /* Aplica a animação de rotação */
}


.bgAnimation {
  position: fixed; /* Alteração aqui para o elemento ser fixo na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: #1d1d1d;
  filter: saturate(2);
  overflow: hidden;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: #1d1d1d;
}

.colorBox:hover {
  background: #00bfff;
  transition-duration: 0s;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #00bfff;
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}
